# Frontend (Vite) — disalin dari .env.example ke .env
VITE_SUPABASE_URL=https://<PROJECT_REF>.supabase.co
VITE_SUPABASE_ANON_KEY=<ANON_KEY>

# Kunci PUBLIK VAPID untuk Web Push (aman di frontend).
# Generate: npx web-push generate-vapid-keys
VITE_VAPID_PUBLIC_KEY=BPjsGmi9cdWyAbyHcfnMgp-fTau1B7pjvXBC51DOSFxtRZINaULtPUjS_5P8PrXt2HCE4nwykAl2ejsYJtYSTvU
